@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h6>Nova Tarefa</h6><a class="btn btn-outline-info fa fa-plus ml-2" style="width:60px;" asp-action="" asp-controller="" asp-area=""></a>
</div>

<div class="container">
    <div class="row">

        <div class="text-center">
            <div class="card border-success mb-3 mt-5 mr-5">
                <div class=" bg-transparent border-success">
                    <div class="card-header">
                        <span>Header</span>
                    </div>
                    <div class="card-header-pills">
                        <small class="text-danger done">Cumprido </small><i class="fas fa-check text-danger"></i>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <button class="btn btn-outline-success" title="Cumprir" disabled><i class="fas fa-check"></i></button>
                    <button class="btn btn-outline-danger" title="Excluir"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
