@model TodoApp.Models.Task
@{
    ViewData["Title"] = "Cadastrar";
}


<h1>Nova Tarefa</h1>
@if (TempData["MSG_E"] != null)
{
    <p class="alert alert-danger text-center col-md-5 mb-5" style="margin:auto;"><b>@TempData["MSG_E"]</b></p>
}
<form method="post">
    <div class="form-group">
        <label asp-for="Title">Título</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subtitle"></label>
        <input asp-for="Subtitle" class="form-control">
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConclusionDate"></label>
        <input type="text" asp-for="ConclusionDate" class="form-control dateConclusion" id="dateConclusion">
        <span asp-validation-for="ConclusionDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-success col-1">Salvar</button> <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</form>